@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

.app,
.app_modal {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

* {
  scrollbar-width: auto;          /* "auto" или "thin"  */
  scrollbar-color: var(--inverted-primary-color) var(--card-bg);   /* плашка скролла и дорожка */
}
