.Modal {
  position: fixed;
  z-index: -1;

  // Временно!
  color: var(--primary-color);
  opacity: 0;

  // Игнорирует все события
  pointer-events: none;
  inset: 0;
}

// Временно!
.Modal.dark {
  --bg-color: #090949;
  --primary-color: #04ff04;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
}

.content {
  max-width: 60%;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 12px;
  transform: scale(0.5);
  transition: 0.3s transform;
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}
