.item {
  display: flex;
  align-items: center;
  height: var(--font-line-m);
  margin-top: 10px;
}

.link {
  margin-left: 10px;
  opacity: 1;
  transition: 1s opacity;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    width: 0;
    opacity: 0;
    transition: 0s opacity;
  }
}
