// Стили применяются к каждой карточке в списке
.BIG {
  .card {
    margin-bottom: 31px;
  }
}

// Стили применяются к контейнеру с карточками
.SMALL {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1010px;
  margin-right: auto;
  margin-left: auto;
}
