.app.dark {
  --bg-color: #424242;
  --inverted-bg-color: #b6b6b6;

  --primary-color: #ffffff;
  --secondary-color: #acacac;

  --inverted-primary-color: #000000;
  --inverted-secondary-color: #434343;
}