// .app.dark {
//   --bg-color: #424242;
//   --inverted-bg-color: #b6b6b6;
//   --primary-color: #fff;
//   --secondary-color: #acacac;
//   --inverted-primary-color: #000;
//   --inverted-secondary-color: #434343;
// }

.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #0d0d6b;
}
