// .app.dark {
//   --bg-color: #424242;
//   --inverted-bg-color: #b6b6b6;
//   --primary-color: #fff;
//   --secondary-color: #acacac;
//   --inverted-primary-color: #000;
//   --inverted-secondary-color: #434343;
// }

.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}
