:root {
  --bg-color: #b6b6b6;
  --inverted-bg-color: #424242;

  --primary-color: #000000;
  --secondary-color: #434343;

  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #acacac;
}