.ArticleDetailsPage {
  color: inherit;
}

.commentTitle {
  margin-top: 20px;
}

.recommendations {
  flex-wrap: nowrap;
  justify-content: start;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}
