.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background-color: var(--inverted-bg-color);
}

.links {
  margin-left: auto;
}

.mainlink {
  margin-right: 15px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

// .createBtn {
//   margin-left: 15px;
// }
